<div class="person" data-id="{{ id }}" data-posx="{{ posx }}" data-posy="{{ posy }}">

	<div class="profile-img" style="background-image:url({{ profileImg }});"></div>

	<span class="name">{{ name }}</span>

</div>
